////
//// Custom colours used by the Leeds Beckett documentation
//// and tools site.
////

//
// Core Documentation Colours
//  

$signal-yellow: #f7ba0b;
$signal-orange: #d4652f;
$signal-red:    #a02128;
$signal-violet: #904684;
$signal-blue:   #154889;
$signal-green:  #317f43;
$signal-grey:   #9b9b9b;
$signal-brown:  #7b5141;
$signal-white:  #f4f4f4;
$signal-black:  #282828;

//
// Highlight Colours for Callouts
//  

$signal-orange-000: #f7e3d9;
$signal-orange-100: #efc3ae;
$signal-orange-200: #e6a484;
$signal-orange-300: #dd855a;

$signal-brown-000: #d7beb2;
$signal-brown-100: #c7a68f;
$signal-brown-200: #b68b6d;
$signal-brown-300: #a07150;
