////
//// Custom colours used by the Leeds Beckett documentation
//// and tools site.
////

//
// Core Documentation Colours
//  

$signal-yellow: #f7ba0b;
$signal-orange: #d4652f;
$signal-red:    #a02128;
$signal-violet: #904684;
$signal-blue:   #154889;
$signal-green:  #317f43;
$signal-grey:   #9b9b9b;
$signal-brown:  #7b5141;
$signal-white:  #f4f4f4;
$signal-black:  #282828;

//
// Highlight Colours for Callouts
//  

$signal-orange-000: #d4652f;
$signal-orange-100: #d4652f;
$signal-orange-200: #d4652f;
$signal-orange-300: #d4652f;

$signal-brown-000: #7b5141;
$signal-brown-100: #7b5141;
$signal-brown-200: #7b5141;
$signal-brown-300: #7b5141;
